entrypoint = "main.go"
run = ["./run.sh"]

modules = ["go-1.21"]

[env]
GOPATH="$REPL_HOME/gopath"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = "./build.sh"
run = "./run.sh"
ignorePorts = false
deploymentTarget = "gce"
